body{
    padding: 0;
    margin: 0;
    *{
        box-sizing: border-box;
    }
}
p.info{
    margin: 1rem 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}
#top_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    height: 50px;
    padding: 0 0.5rem;
    background-color: #000000;
    p{
        margin: 0;
        color: white;
        font-size: 1.25rem;
        font-weight: bold;
    }
    button{
        height: 40px;
        background-color: white;
        color: black;
        font-size: 1rem;
        outline: 0;
        border: 0;
        border-radius: 8px;
        padding: 0 10px;
        font-weight: bold;
        cursor: pointer;
        &:hover, &:focus{
            background-color: rgb(221, 221, 221);
        }
    }
}
.table-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    fieldset{
        border: 0;
        margin: 0;
        padding: 0;
        select{
            height: 40px;
            margin-left: 5px;
            border-radius: 8px;
            padding: 10px;
        }
    }
    button{
        height: 40px;
        background-color: black;
        color: white;
        font-size: 1rem;
        outline: 0;
        border: 0;
        padding: 0 15px;
        border-radius: 8px;
        font-weight: bold;
        margin-right: 5px;
        cursor: pointer;
        &:hover, &:focus{
            background-color: rgb(42, 42, 42);
        }
    }
}
table.task-table{
    border: 1px solid black;
    border-radius: 8px;
    border-spacing: 0;
    overflow: hidden;
    width: calc(100% - 1rem);
    margin: 0 auto;
    thead{
        tr{
            th{
                background-color: black;
                color: white;
                text-align: left;
                font-size: 1.1rem;
                padding: 0.5rem;
            }
        }
    }
    tbody{
        tr{
            td{
                padding: 0.5rem;
            }
            &:nth-child(even){
                td{
                    background-color: #eee;
                }
            }
        }
    }
    button{
        height: 30px;
        background-color: black;
        color: white;
        font-size: 0.8rem;
        outline: 0;
        border: 0;
        padding: 0 15px;
        border-radius: 8px;
        font-weight: bold;
        margin-right: 5px;
        cursor: pointer;
        &:hover, &:focus{
            background-color: rgb(42, 42, 42);
        }
    }
}
.task-detail{
    border: 1px solid black;
    margin: 1rem 1rem;
    border-radius: 8px;
    padding: 1rem;
    h3{
        margin: 0;
    }
    > div{
        p{
            &.label{
                font-weight: bold;
                margin-bottom: 0;
            }
            &.value{
                margin-top: 0;
            }
        }
    }
    button{
        height: 40px;
        background-color: black;
        color: white;
        font-size: 1rem;
        outline: 0;
        border: 0;
        padding: 0 15px;
        border-radius: 8px;
        font-weight: bold;
        margin-right: 5px;
        cursor: pointer;
        &:hover, &:focus{
            background-color: rgb(42, 42, 42);
        }
    }
}
.task-form{
    border: 1px solid black;
    margin: 1rem 1rem;
    border-radius: 8px;
    padding: 1rem;
    h3{
        margin: 0 0 1.5rem;
    }
    > div{
        margin-bottom: 1rem;
        label{
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
        }
        input, textarea, select{
            width: 100%;
        }
        input{
            width: 100%;
            font-size: 1rem;
            height: 40px;
            padding: 0 10px;
            box-sizing: border-box;
            border-radius: 8px;
            border: 1px solid #aaa;
            &:focus, &:hover{
                border: 1px solid #000;
            }
        }
        textarea{
            width: 100%;
            font-size: 1rem;
            height: 100px;
            padding: 10px 10px;
            box-sizing: border-box;
            border-radius: 8px;
            border: 1px solid #aaa;
            resize: none;
            &:focus, &:hover{
                border: 1px solid #000;
            }
        }
        select{
            height: 40px;
            border-radius: 8px;
            padding: 10px;
            max-width: 500px;
        }
    }
    button{
        height: 40px;
        background-color: black;
        color: white;
        font-size: 1rem;
        outline: 0;
        border: 0;
        padding: 0 15px;
        border-radius: 8px;
        font-weight: bold;
        margin-right: 5px;
        cursor: pointer;
        &:hover, &:focus{
            background-color: rgb(42, 42, 42);
        }
    }
}